/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/yI9FRzo/animated-flying-black-3d-music-notes-in-4k-and-with-alpha-alpha-channel-embedded-with-4k-png-file_41bzaoynm__F0000.png");
}

*{
	color: blue;
}
.multi-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background-color: grey;
  opacity: 0.8;
  padding: 10px;
}

.col {
  color: black;
}

.note_name, .note_notes {
	min-height: 70px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: green;
}